<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      internalLogFile="log.err" internalLogLevel="Error"
      autoReload="true">

  <variable name="logDirectory" value="${var:dir}/${shortdate}"/>
  <!-- the targets to write to -->
  <targets>
    <target name="fileLogTrace" xsi:type="File" fileName="${var:dir}/${shortdate}/trace.txt"/>
    <target name="fileLogDebug" xsi:type="File" fileName="${var:dir}/${shortdate}/debug.txt"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception} ${stacktrace}"/>
    <target name="fileLogInfo" xsi:type="File" fileName="${var:dir}/${shortdate}/info.txt"/>
    <target name="fileLogError" xsi:type="File" fileName="${var:dir}/${shortdate}/error.txt"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception} ${stacktrace}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"/>
    <target name="fileLogWarn" xsi:type="File" fileName="${var:dir}/${shortdate}/warn.txt"/>

    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole"/>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" level="Trace" writeTo="fileLogTrace"/>
    <logger name="*" level="Debug" writeTo="fileLogDebug"/>
    <logger name="*" level="Info" writeTo="fileLogInfo"/>
    <logger name="*" level="Error" writeTo="fileLogError"/>
    <logger name="*" minlevel="Warn" writeTo="fileLogWarn"/>
    <logger name="*" minlevel="Fatal" writeTo="fileLogError"/>
  </rules>
</nlog>
